.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50px;
  border: 1px lightgray solid;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.duedate {
  display: flex;
  flex-direction: row;
}
.user {
  display: flex;
  justify-content: flex-end;
}
.sectionWrapper {
  border: 0.5px lightgray solid;
  padding: 5px;
  width: 210px;
}
.mainWrapper {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.addtask {
  display: flex;
  background: lightgoldenrodyellow;
  border: 1px lightgray solid;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
